//
//
//
// $COLORS
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Define all colors here. Beyond this stylesheet, ALL colors should be referenced by a variable.
// @end

$white:       #fff;
$off-white:   #fafafa;
$light-gray:  #aaa;
$gray:        #ccc;
$mid-gray:    #7e7e7e;
$dark-gray:   #444;
$black:       #222;
