//
//
//
// $DEFAULTS
//
//
// @author Benjamin Charity <ben@benjamincharity.com>
//
// @doc
//  Define all defaults for transitions,
//  define base font size,
//  define custom mixins.
// @end


$default-transition-duration: 0.2s;
$default-transition-function: ease-in-out;

$default-box-shadow-color: #000;
$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 0;
$default-box-shadow-blur: 6px;
$default-box-shadow-spread: 0;

$default-border-radius: 2px;

// set a base font that should match the browser default
$base-font-size: 16px;

$site-width: 100%;

// Baseline, measured in pixels
// The value should be the same as the font-size value for the html element
// If the html element's font-size is set to 62.5% (of the browser's default font-size of 16px),
// then the variable below would be 10px.
$baseline-px: 16px;

@mixin rem($property, $px-values) {
  // Convert the baseline into rems
  $baseline-rem: $baseline-px / 1rem;
  // Print the first line in pixel values
  #{$property}: $px-values;
  // If there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem; }
  @else {
    // Create an empty list that we can dump values into
    $rem-values: unquote("");
    @each $value in $px-values {
      // If the value is zero, return 0
      @if $value == 0 {
        $rem-values: append($rem-values, $value); }
      @else {
        $rem-values: append($rem-values, $value / $baseline-rem);
      }
    }
    // Return the property and its list of converted values
    #{$property}: $rem-values;
  }
}

//
// mixin to provide a clear to any element with IE6-7 support
//
@mixin clear-ie {
  &:before,
  &:after {
    content: "\0020";
    display: table;
  }
  &:after { clear: both; }
  @if $ie7-support {
    & { zoom: 1; }
  }
}

//
//mixin to provide a clear to modern browsers IE8 and up
//
@mixin clear {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// my custom transition function - much more humanistic than easing etc
@mixin customTransition($property: all, $timing: 300ms) {
  -webkit-transition: $property $timing cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition:    $property $timing cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition:     $property $timing cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition:      $property $timing cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition:         $property $timing cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

// mixin to hide text
@mixin hideText {
  color: transparent;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}


//.page-wrap {
//  width: 75%;
//  @include breakpoint(papa-bear) { width: 60%; }
//  @include breakpoint(mama-bear) { width: 80%; }
//  @include breakpoint(baby-bear) { width: 95%; }
//}


@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 650px)  { @content; }
  }
}
